<mat-card>

  <mat-card-title class="comicfont">Number bonds to {{bondNumber}}</mat-card-title>
  <mat-card-subtitle>...enter the missing number</mat-card-subtitle>

  <mat-card-content>

    <mat-grid-list cols="5">

      <mat-grid-tile>
        <div class="fontlarge">
          <span>{{generatedNumber}} </span>
        </div>
      </mat-grid-tile>

      <mat-grid-tile>
        <div class="fontlarge">
          <span>+</span>
        </div>
      </mat-grid-tile>

      <mat-grid-tile>
        <form class="example-form">
          <mat-form-field class="example-full-width">
            <input #input1 id="input1" matInput autofocus type="number" placeholder="?" [(ngModel)]="guess" name="guess" cssSelector="#input1"
              (keyup.enter)="guessit()" />
          </mat-form-field>
        </form>
      </mat-grid-tile>

      <mat-grid-tile>
        <div class="fontlarge">
          <span>=</span>
        </div>
      </mat-grid-tile>

      <mat-grid-tile>
        <div class="fontlarge">
          <span> {{bondNumber}} </span>
        </div>
      </mat-grid-tile>

    </mat-grid-list>

  </mat-card-content>

</mat-card>

<div>&nbsp;</div>

<mat-card>

  <mat-card-content>
    <mat-grid-list cols="1" [rowHeight]="40">
      <mat-grid-tile>        
          <button mat-raised-button color="accent" type='submit' (click)="guessit()">Go</button>                  
      </mat-grid-tile>
    </mat-grid-list>
  </mat-card-content>

</mat-card>