.example-form {
    min-width: 110px;
    max-width: 110px;    
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
    font: 100 30px/0.8 'Comic Sans MS', Helvetica, sans-serif;   
  }

  .fontlarge {
    font: 100 30px/0.8 'Comic Sans MS', Helvetica, sans-serif;   
  }

  .fontless {
    font-size: 20px;
  }

  div.centred {    
    align-content: center;
}

mat-card {  
  height: 100%;
}