<mat-card>
  <mat-card-title class="comicfont">Click on the times table you wish to play...</mat-card-title>
  <mat-card-content>

    <mat-grid-list cols="7">
      <mat-grid-tile>
        <button mat-fab (click)="createTable(2)">2 x</button>
      </mat-grid-tile>
      <mat-grid-tile>
        <button mat-fab color="primary" (click)="createTable(3)">3 x</button>
      </mat-grid-tile>
      <mat-grid-tile>
        <button mat-fab (click)="createTable(4)">4 x</button>
      </mat-grid-tile>
      <mat-grid-tile>
        <button mat-fab color="primary" (click)="createTable(5)">5 x</button>
      </mat-grid-tile>
      <mat-grid-tile>
        <button mat-fab (click)="createTable(6)">6 x</button>
      </mat-grid-tile>
      <mat-grid-tile>
        <button mat-fab color="primary" (click)="createTable(7)">7 x</button>
      </mat-grid-tile>
      <mat-grid-tile>
        <button mat-fab (click)="createTable(8)">8 x</button>
      </mat-grid-tile>
      <mat-grid-tile>
        <button mat-fab color="primary" (click)="createTable(9)">9 x</button>
      </mat-grid-tile>
      <mat-grid-tile>
        <button mat-fab (click)="createTable(10)">10 x</button>
      </mat-grid-tile>
      <mat-grid-tile>
        <button mat-fab color="primary" (click)="createTable(11)">11 x</button>
      </mat-grid-tile>
      <mat-grid-tile>
        <button mat-fab (click)="createTable(12)">12 x</button>
      </mat-grid-tile>
      <mat-grid-tile>
        <button mat-fab color="primary" (click)="createTable(20)">20 x</button>
      </mat-grid-tile>
      <mat-grid-tile>
        <button mat-fab (click)="createTable(100)">100 x</button>
      </mat-grid-tile>

    </mat-grid-list>

  </mat-card-content>

</mat-card>