.my-positioning {
    position: absolute;         
  }

  .example-full-width {
    width: 100%;
    font: 100 35px/0.8 'Comic Sans MS', Helvetica, sans-serif;   
  }

  .fontlarge2 {
    font-family: 'Comic Sans MS', Helvetica, sans-serif;      
    font-size: 30px;    
    width: 100%;
 }