.font-ready {
    font-family: 'Comic Sans MS', Helvetica, sans-serif;      
    font-size: 40px;    
    color: crimson;
  }

.centered {
    margin: auto;    
    align-content: center;
    text-align: center;
    position: fixed;
    left: 595px;
    top: 155px;       
}
