<mat-sidenav-container class="app-sidenav-container" [class.dark-theme]="isDarkTheme">
  <mat-sidenav #sidenav class="app-sidenav mat-elevation-z10" [opened]="!isScreenSmall()" [mode]="isScreenSmall() ? 'over' : 'side'">
    <mat-toolbar color="primary">
      <div class="titlefont2">Options</div>
    </mat-toolbar>

    <mat-nav-list>

      <a matLine routerLink="/spellmanager/spmenu">
        <mat-list-item>
          <mat-icon>view_comfy</mat-icon>&nbsp;&nbsp;<b>Main Menu</b>
        </mat-list-item>
      </a>

    </mat-nav-list>

    <mat-divider></mat-divider>

    <mat-nav-list>

      <mat-list-item (click)="routeChoice(0)">
        <mat-icon color="primary">motorcycle</mat-icon>&nbsp;&nbsp;Objects
      </mat-list-item>

      <mat-divider></mat-divider>

      <mat-list-item (click)="routeChoice(1)">
        <mat-icon color="primary">pets</mat-icon>&nbsp;&nbsp;Animals
      </mat-list-item>

      <mat-divider></mat-divider>

      <mat-list-item (click)="routeChoice(2)">
        <mat-icon color="primary">palette</mat-icon>&nbsp;&nbsp;Colours
      </mat-list-item>

      <mat-divider></mat-divider>

      <mat-list-item (click)="routeChoice(3)">
        <mat-icon color="primary">filter_9_plus</mat-icon>&nbsp;&nbsp;Numbers
      </mat-list-item>

      <mat-divider></mat-divider>

      <mat-list-item (click)="routeChoice(4)">
        <mat-icon color="primary">shopping_cart</mat-icon>&nbsp;&nbsp;Shopping
      </mat-list-item>

      <mat-divider></mat-divider>

      <mat-list-item (click)="routeChoice(5)">
        <mat-icon color="primary">chat</mat-icon>&nbsp;&nbsp;Calendar
      </mat-list-item>

      <mat-divider></mat-divider>

      <mat-list-item (click)="routeChoice(6)">
        <mat-icon class="warm600">chat</mat-icon>&nbsp;&nbsp;Warm words
      </mat-list-item>

      <mat-divider></mat-divider>

      <mat-list-item (click)="routeChoice(7)">
        <mat-icon class="warmer600">comment</mat-icon>&nbsp;&nbsp;Warmer words
      </mat-list-item>

      <mat-divider></mat-divider>

      <mat-list-item (click)="routeChoice(8)">
        <mat-icon class="hot600">speaker_notes</mat-icon>&nbsp;&nbsp;Hot words
      </mat-list-item>

      <mat-divider></mat-divider>

      <mat-list-item (click)="routeChoice(9)">
        <mat-icon class="hottest600">comment</mat-icon>&nbsp;&nbsp;Hottest words
      </mat-list-item>

      <mat-divider></mat-divider>

      <mat-list-item (click)="routeChoice(10)">
        <mat-icon class="red600">chat</mat-icon>&nbsp;&nbsp;Monster words
      </mat-list-item>

      <mat-divider></mat-divider>

    </mat-nav-list>

  </mat-sidenav>

  <div class="app-sidenav-content">
    <app-sp-toolbar (toggleTheme)="toggleTheme()"></app-sp-toolbar>
    <div class="wrapper">
      <router-outlet></router-outlet>
    </div>
  </div>

</mat-sidenav-container>