<mat-sidenav-container class="app-sidenav-container" [class.dark-theme]="isDarkTheme">
  <mat-sidenav #sidenav class="app-sidenav mat-elevation-z10" [opened]="!isScreenSmall()" [mode]="isScreenSmall() ? 'over' : 'side'">
    <mat-toolbar color="primary">
      <div class="titlefont2">Options</div>
    </mat-toolbar>

    <mat-nav-list>

      <mat-list-item>
        <a matLine routerLink="/gamesmanager/menu">
          <mat-icon>view_comfy</mat-icon>&nbsp;&nbsp;Main Menu
        </a>
      </mat-list-item>

    </mat-nav-list>

    <mat-divider></mat-divider>

    <mat-nav-list>

      <mat-list-item>
        <a matLine routerLink="/gamesmanager/bondsc">
          <mat-icon>filter_vintage</mat-icon>&nbsp;&nbsp;Number bonds
        </a>
      </mat-list-item>

      <mat-divider></mat-divider>

      <mat-list-item>
        <a matLine routerLink="/gamesmanager/tablec">
          <mat-icon>tag_faces</mat-icon>&nbsp;&nbsp; Times tables&nbsp;&nbsp;
        </a>
      </mat-list-item>

      <mat-divider></mat-divider>

      <mat-list-item>
        <a matLine routerLink="/gamesmanager/decimals">
          <mat-icon>wb_sunny</mat-icon>&nbsp;&nbsp; Decimals&nbsp;&nbsp;
        </a>
      </mat-list-item>

      <mat-divider></mat-divider>

      <mat-list-item>
        <a matLine routerLink="/gamesmanager/add">
          <mat-icon>add_circle</mat-icon>&nbsp;&nbsp; Addition&nbsp;&nbsp;
        </a>
      </mat-list-item>

      <mat-divider></mat-divider>

      <mat-list-item>
        <a matLine routerLink="/gamesmanager/subtract">
          <mat-icon>remove_circle</mat-icon>&nbsp;&nbsp; Subtraction&nbsp;&nbsp;
        </a>
      </mat-list-item>

      <mat-divider></mat-divider>

      <mat-list-item>
        <a matLine routerLink="/gamesmanager/multiply">
          <mat-icon>clear</mat-icon>&nbsp;&nbsp; Multiplication&nbsp;&nbsp;
        </a>
      </mat-list-item>

      <mat-divider></mat-divider>

      <mat-list-item>
        <a matLine routerLink="/gamesmanager/divide">
          <mat-icon>block</mat-icon>&nbsp;&nbsp; Division&nbsp;&nbsp;
        </a>
      </mat-list-item>

      <mat-divider></mat-divider>

      <mat-list-item>
        <a matLine routerLink="/gamesmanager/timed">
          <mat-icon>notifications</mat-icon>&nbsp;&nbsp; Timed sums&nbsp;&nbsp;
        </a>
      </mat-list-item>

      <mat-divider></mat-divider>

      <mat-list-item>
        <a matLine routerLink="/gamesmanager/countdown">
          <mat-icon>alarm</mat-icon>&nbsp;&nbsp; Countdown challenge&nbsp;&nbsp;
        </a>
      </mat-list-item>
     

      <mat-divider></mat-divider>

    </mat-nav-list>

  </mat-sidenav>

  <div class="app-sidenav-content">
    <app-toolbar (toggleTheme)="toggleTheme()"></app-toolbar>
    <div class="wrapper">

      <!--<div [ngStyle]="{'background' : 'url(/assets/images/sumzee2.png)'}">-->
      <router-outlet></router-outlet>

      <!--</div>-->

    </div>
  </div>

</mat-sidenav-container>