.r-position {
    position: absolute;
    right: 0px;
}

.l-position {
    position: absolute;
    left: 0px;    
}

.countdown-font {
    font-family: 'Comic Sans MS', Helvetica, sans-serif;
    color: crimson;
}