<mat-card>

  <mat-card-title class="comicfont">{{title}}</mat-card-title>
  <mat-card-subtitle>...enter the missing number</mat-card-subtitle>

  <mat-card-content>

    <mat-grid-list cols="6">

      <mat-grid-tile>
        <div class="fontlarge">
          <span>{{number1}} </span>
        </div>
      </mat-grid-tile>

      <mat-grid-tile>
        <div class="fontlarge">
          <span>+</span>
        </div>
      </mat-grid-tile>

      <mat-grid-tile>
        <div class="fontlarge">
          <span>{{number2}} </span>
        </div>
      </mat-grid-tile>

      <mat-grid-tile>
        <div class="fontlarge">
          <span>=</span>
        </div>
      </mat-grid-tile>

      <mat-grid-tile>
        <form id='guessForm' class="example-form" (ngSubmit)=save() [formGroup]="guessForm">
          <mat-form-field class="fontlarge2">
            <input id="input1" matInput cssSelector="#input1" type="number" autocomplete="off" placeholder="?" formControlName="actual"
            />
          </mat-form-field>
        </form>
      </mat-grid-tile>

      <mat-grid-tile>
        <div *ngIf="errorMessage" class="fontless">
          <i class="material-icons red600 md-36">error</i>
          <mat-error>{{errorMessage}}</mat-error>
        </div>
        <div *ngIf="guessedCorrectly" class="fontless">
          <i class="material-icons green600 md-36">assignment_turned_in</i>          
        </div>        
      </mat-grid-tile>

    </mat-grid-list>

  </mat-card-content>

</mat-card>

<div>&nbsp;</div>

<div>&nbsp;</div>
  
  <mat-card>
  
    <mat-card-content>
      <mat-grid-list cols="1" [rowHeight]="40">
        <mat-grid-tile>
          <button id="go1" mat-raised-button color="accent" type='submit' form="guessForm">Go</button>          
        </mat-grid-tile>
      </mat-grid-list>
    </mat-card-content>
  
  </mat-card>