<mat-card>

  <mat-card-title class="comicfont">Spelling - {{title}}</mat-card-title>
  <mat-card-subtitle *ngIf="!isAudio">Spell the word from the picture you see</mat-card-subtitle>
  <mat-card-subtitle *ngIf="isAudio">Turn your speakers on. Press Play or use the <b>Up arrow</b> key</mat-card-subtitle>
  

  <mat-card-content>

    <mat-grid-list cols="3">
<!--
      <mat-grid-tile>
        <div *ngIf="displayWord">
          <span class="displayfont">{{word}}</span>
        </div>
      </mat-grid-tile>
-->

      <mat-grid-tile>

        <div *ngIf="!isAudio">
          <img mat-card-image class="item" src="{{file_location}}">
        </div>

        <div *ngIf="isAudio">
          <button id="audio1" mat-raised-button class="button-play" (click)="play()">Play&nbsp;<mat-icon>play_circle_outline</mat-icon></button>
        </div>

      </mat-grid-tile>

      <mat-grid-tile>
        <form id='guessForm' spellcheck="false" class="example-form" (ngSubmit)=save() [formGroup]="guessForm">
          <mat-form-field class="inputfont" style="width:800px !important;">
            <input id="input1" matInput cssSelector="#input1" autocomplete="off" placeholder="?" type="text" formControlName="actual" (keydown.arrowup)="onKeydown($event)"
            />
          </mat-form-field>
        </form>

      </mat-grid-tile>

      <mat-grid-tile>
        <div *ngIf="errorMessage" class="fontless">
          <i class="material-icons red600 md-36">error</i>
          <mat-error>{{errorMessage}}</mat-error>
        </div>
        <div *ngIf="guessedCorrectly" class="fontless">
          <i class="material-icons green600 md-36">assignment_turned_in</i>          
        </div>
      </mat-grid-tile>

    </mat-grid-list>

  </mat-card-content>

</mat-card>

<div>&nbsp;</div>

<mat-card>
<!--
  <mat-card-content>
    <mat-grid-list cols="1" [rowHeight]="40">
      <mat-grid-tile>
        <button *ngIf="!displayWord" mat-raised-button color="primary" class="l-position" (click)="toggleDisplay()">Show word</button>
        <button *ngIf="displayWord" mat-raised-button color="primary" class="l-position" (click)="toggleDisplay()">Hide word</button>
        <div *ngIf="displayWord">
          <span class="displayfont">{{word}}</span>
        </div>
        <button id="go1" mat-raised-button color="accent" type='submit' form="guessForm">Go</button>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-card-content>
-->
  <mat-card-content>
    <mat-grid-list cols="3" [rowHeight]="40">
    

      <mat-grid-tile>
          <button *ngIf="!displayWord" mat-raised-button color="primary" class="l-position" (click)="toggleDisplay()">Show word</button>
          <button *ngIf="displayWord" mat-raised-button color="primary" class="l-position" (click)="toggleDisplay()">Hide word</button>
      </mat-grid-tile>

      <mat-grid-tile>
          <div *ngIf="displayWord">
              <span class="displayfont">{{word}}</span>
            </div>
      </mat-grid-tile>

      <mat-grid-tile>
        <button id="go1" mat-raised-button color="accent" type='submit' form="guessForm">Go</button>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-card-content>


</mat-card>