.dialog-img {
  height:100%;  
  width:auto;    
}

.centered {
  margin: auto;    
  align-content: center;
  text-align: center;
  height: 100%;
}

.top {  
  height:95%;
  margin:0px auto;
  padding:0px;
}

.right {  
  height:5%;
  margin:0px auto;
  padding:0px;
}