<div [ngStyle]="{'background' : 'url(/assets/images/sumzee2.png)'}">

  <mat-grid-list cols="3">

    <mat-grid-tile>
      <mat-card class="example-card mat-elevation-z24">
        <mat-card-header>
          <mat-card-title class="title-text">
            <mat-icon color="primary">filter_vintage</mat-icon>&nbsp;&nbsp;Number Bonds
          </mat-card-title>
          <mat-card-subtitle>&nbsp;</mat-card-subtitle>
        </mat-card-header>
        <a routerLink="/gamesmanager/bondsc">
          <img mat-card-image src="/assets/images/numbers3.png">
        </a>
        <mat-card-actions>
          <a routerLink="/gamesmanager/bondsc">
            <button mat-raised-button class="fontlarge">PLAY</button>
          </a>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-card class="example-card mat-elevation-z24">
        <mat-card-header>
          <mat-card-title class="title-text">
            <mat-icon color="accent">tag_faces</mat-icon>&nbsp;&nbsp;Times Tables</mat-card-title>
          <mat-card-subtitle>&nbsp;</mat-card-subtitle>
        </mat-card-header>
        <a routerLink="/gamesmanager/tablec">
          <img mat-card-image src="/assets/images/numbers2.png">
        </a>
        <mat-card-actions>
          <a routerLink="/gamesmanager/tablec">
            <button mat-raised-button class="fontlarge">PLAY</button>
          </a>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-card class="example-card mat-elevation-z24">
        <mat-card-header>
          <mat-card-title class="title-text">
            <mat-icon color="primary">school</mat-icon>&nbsp;&nbsp;Game to come...</mat-card-title>
          <mat-card-subtitle>&nbsp;</mat-card-subtitle>
        </mat-card-header>
        <a routerLink="/gamesmanager/menu">
          <img mat-card-image src="/assets/images/numbers1.png">
        </a>
        <mat-card-actions>
          <a routerLink="/gamesmanager/menu">
            <button mat-raised-button class="fontlarge">PLAY</button>
          </a>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-card class="example-card mat-elevation-z24">
        <mat-card-header>
          <mat-card-title class="title-text">
            <mat-icon color="accent">school</mat-icon>&nbsp;&nbsp;Game to come...</mat-card-title>
          <mat-card-subtitle>&nbsp;</mat-card-subtitle>
        </mat-card-header>
        <a routerLink="/gamesmanager/table2">
          <img mat-card-image src="/assets/images/numbers2.png">
        </a>
        <mat-card-actions>
          <a routerLink="/gamesmanager/table2">
            <button mat-raised-button class="fontlarge">PLAY</button>
          </a>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-card class="example-card mat-elevation-z24">
        <mat-card-header>
          <mat-card-title class="title-text">
            <mat-icon color="primary">school</mat-icon>&nbsp;&nbsp;Game to come...</mat-card-title>
          <mat-card-subtitle>&nbsp;!</mat-card-subtitle>
        </mat-card-header>
        <a routerLink="/gamesmanager/menu">
          <img mat-card-image src="/assets/images/numbers1.png">
        </a>
        <mat-card-actions>
          <a routerLink="/gamesmanager/menu">
            <button mat-raised-button class="fontlarge">PLAY</button>
          </a>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-card class="example-card mat-elevation-z24">
        <mat-card-header>
          <mat-card-title class="title-text">
            <mat-icon color="accent">school</mat-icon>&nbsp;&nbsp;Game to come...</mat-card-title>
          <mat-card-subtitle>&nbsp;</mat-card-subtitle>
        </mat-card-header>
        <a routerLink="/gamesmanager/menu">
          <img mat-card-image src="/assets/images/numbers3.png">
        </a>
        <mat-card-actions>
          <a routerLink="/gamesmanager/menu">
            <button mat-raised-button class="fontlarge">PLAY</button>
          </a>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>

  </mat-grid-list>

</div>