<div [ngStyle]="{'background' : 'url(/assets/images/sumzee2.png)'}">

  <mat-grid-list cols="3">

    <mat-grid-tile>
      <mat-card class="example-card mat-elevation-z24">
        <mat-card-header>
          <mat-card-title class="title-text">
            <mat-icon color="primary">school</mat-icon>&nbsp;&nbsp;Number bonds to 10
          </mat-card-title>
          <mat-card-subtitle>&nbsp;</mat-card-subtitle>
        </mat-card-header>
        <a routerLink="/gamesmanager/bonds">
          <img mat-card-image src="/assets/images/numbers3.png">
        </a>
        <mat-card-actions>
          <a routerLink="/gamesmanager/bonds">
            <button mat-raised-button class="fontlarge">PLAY</button>
          </a>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-card class="example-card mat-elevation-z24">
        <mat-card-header>
          <mat-card-title class="title-text">
            <mat-icon color="accent">school</mat-icon>&nbsp;&nbsp;Number bonds to 100</mat-card-title>
          <mat-card-subtitle>&nbsp;</mat-card-subtitle>
        </mat-card-header>
        <a routerLink="/gamesmanager/bonds100">
          <img mat-card-image src="/assets/images/numbers2.png">
        </a>
        <mat-card-actions>
          <a routerLink="/gamesmanager/bonds100">
            <button mat-raised-button class="fontlarge">PLAY</button>
          </a>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-card class="example-card mat-elevation-z24">
        <mat-card-header>
          <mat-card-title class="title-text">
            <mat-icon color="primary">school</mat-icon>&nbsp;&nbsp;Number bonds to 1000</mat-card-title>
          <mat-card-subtitle>&nbsp;</mat-card-subtitle>
        </mat-card-header>
        <a routerLink="/gamesmanager/bonds1000">
          <img mat-card-image src="/assets/images/numbers1.png">
        </a>
        <mat-card-actions>
          <a routerLink="/gamesmanager/bonds1000">
            <button mat-raised-button class="fontlarge">PLAY</button>
          </a>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-card class="example-card mat-elevation-z24">
        <mat-card-header>
          <mat-card-title class="title-text">
            <mat-icon color="accent">school</mat-icon>&nbsp;&nbsp;Two times table</mat-card-title>
          <mat-card-subtitle>&nbsp;</mat-card-subtitle>
        </mat-card-header>
        <a routerLink="/gamesmanager/table2">
          <img mat-card-image src="/assets/images/numbers2.png">
        </a>
        <mat-card-actions>
          <a routerLink="/gamesmanager/table2">
            <button mat-raised-button class="fontlarge">PLAY</button>
          </a>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-card class="example-card mat-elevation-z24">
        <mat-card-header>
          <mat-card-title class="title-text">
            <mat-icon color="primary">school</mat-icon>&nbsp;&nbsp;Three times table</mat-card-title>
          <mat-card-subtitle>&nbsp;!</mat-card-subtitle>
        </mat-card-header>
        <a routerLink="/gamesmanager/table3">
          <img mat-card-image src="/assets/images/numbers1.png">
        </a>
        <mat-card-actions>
          <a routerLink="/gamesmanager/table3">
            <button mat-raised-button class="fontlarge">PLAY</button>
          </a>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-card class="example-card mat-elevation-z24">
        <mat-card-header>
          <mat-card-title class="title-text">
            <mat-icon color="accent">school</mat-icon>&nbsp;&nbsp;Four times table</mat-card-title>
          <mat-card-subtitle>&nbsp;</mat-card-subtitle>
        </mat-card-header>
        <a routerLink="/gamesmanager/table4">
          <img mat-card-image src="/assets/images/numbers3.png">
        </a>
        <mat-card-actions>
          <a routerLink="/gamesmanager/table4">
            <button mat-raised-button class="fontlarge">PLAY</button>
          </a>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>

  </mat-grid-list>

</div>