<div [ngStyle]="{'background' : 'url(/assets/images/sumzee2.png)'}">

  <mat-grid-list cols="3">

    <mat-grid-tile>
      <mat-card class="example-card mat-elevation-z24">
        <mat-card-header>
          <mat-card-title class="title-text">
            <mat-icon color="primary">filter_vintage</mat-icon>&nbsp;&nbsp;Number Bonds
          </mat-card-title>
          <mat-card-subtitle>&nbsp;</mat-card-subtitle>
        </mat-card-header>
        <a routerLink="/gamesmanager/bondsc">
          <img mat-card-image src="/assets/images/numbers3.png">
        </a>
        <mat-card-actions>
          <a routerLink="/gamesmanager/bondsc">
            <button mat-raised-button class="fontlarge">PLAY</button>
          </a>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-card class="example-card mat-elevation-z24">
        <mat-card-header>
          <mat-card-title class="title-text">
            <mat-icon color="accent">tag_faces</mat-icon>&nbsp;&nbsp;Times Tables</mat-card-title>
          <mat-card-subtitle>&nbsp;</mat-card-subtitle>
        </mat-card-header>
        <a routerLink="/gamesmanager/tablec">
          <img mat-card-image src="/assets/images/numbers2.png">
        </a>
        <mat-card-actions>
          <a routerLink="/gamesmanager/tablec">
            <button mat-raised-button class="fontlarge">PLAY</button>
          </a>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-card class="example-card mat-elevation-z24">
        <mat-card-header>
          <mat-card-title class="title-text">
            <mat-icon color="primary">wb_sunny</mat-icon>&nbsp;&nbsp;Decimals</mat-card-title>
          <mat-card-subtitle>&nbsp;</mat-card-subtitle>
        </mat-card-header>
        <a routerLink="/gamesmanager/decimals">
          <img mat-card-image src="/assets/images/numbers1.png">
        </a>
        <mat-card-actions>
          <a routerLink="/gamesmanager/decimals">
            <button mat-raised-button class="fontlarge">PLAY</button>
          </a>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-card class="example-card mat-elevation-z24">
        <mat-card-header>
          <mat-card-title class="title-text">
            <mat-icon color="accent">add_circle</mat-icon>&nbsp;&nbsp;Addition</mat-card-title>
          <mat-card-subtitle>&nbsp;</mat-card-subtitle>
        </mat-card-header>
        <a routerLink="/gamesmanager/add">
          <img mat-card-image src="/assets/images/numbers2.png">
        </a>
        <mat-card-actions>
          <a routerLink="/gamesmanager/add">
            <button mat-raised-button class="fontlarge">PLAY</button>
          </a>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-card class="example-card mat-elevation-z24">
        <mat-card-header>
          <mat-card-title class="title-text">
            <mat-icon color="primary">remove_circle</mat-icon>&nbsp;&nbsp;Subtraction</mat-card-title>
          <mat-card-subtitle>&nbsp;</mat-card-subtitle>
        </mat-card-header>
        <a routerLink="/gamesmanager/subtract">
          <img mat-card-image src="/assets/images/numbers1.png">
        </a>
        <mat-card-actions>
          <a routerLink="/gamesmanager/subtract">
            <button mat-raised-button class="fontlarge">PLAY</button>
          </a>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-card class="example-card mat-elevation-z24">
        <mat-card-header>
          <mat-card-title class="title-text">
            <mat-icon color="accent">block</mat-icon>&nbsp;&nbsp;Division</mat-card-title>
          <mat-card-subtitle>&nbsp;</mat-card-subtitle>
        </mat-card-header>
        <a routerLink="/gamesmanager/divide">
          <img mat-card-image src="/assets/images/numbers3.png">
        </a>
        <mat-card-actions>
          <a routerLink="/gamesmanager/divide">
            <button mat-raised-button class="fontlarge">PLAY</button>
          </a>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
        <mat-card class="example-card mat-elevation-z24">
          <mat-card-header>
            <mat-card-title class="title-text">
              <mat-icon color="primary">notifications</mat-icon>&nbsp;&nbsp;Timed sums</mat-card-title>
            <mat-card-subtitle>&nbsp;</mat-card-subtitle>
          </mat-card-header>
          <a routerLink="/gamesmanager/timed">
            <img mat-card-image src="/assets/images/numbers1.png">
          </a>
          <mat-card-actions>
            <a routerLink="/gamesmanager/timed">
              <button mat-raised-button class="fontlarge">PLAY</button>
            </a>
          </mat-card-actions>
        </mat-card>
      </mat-grid-tile>
  
      <mat-grid-tile>
        <mat-card class="example-card mat-elevation-z24">
          <mat-card-header>
            <mat-card-title class="title-text">
              <mat-icon color="accent">alarm</mat-icon>&nbsp;&nbsp;Countdown challenge</mat-card-title>
            <mat-card-subtitle>&nbsp;</mat-card-subtitle>
          </mat-card-header>
          <a routerLink="/gamesmanager/countdown">
            <img mat-card-image src="/assets/images/numbers2.png">
          </a>
          <mat-card-actions>
            <a routerLink="/gamesmanager/countdown">
              <button mat-raised-button class="fontlarge">PLAY</button>
            </a>
          </mat-card-actions>
        </mat-card>
      </mat-grid-tile>

  </mat-grid-list>

</div>