.example-form {
    min-width: 85px;
    max-width: 85px;
    width: 80%;
  }
  
  .example-full-width {
    width: 100%;
    font-size: 30px;
  }

  .example-width {
    width: 80%;
    font-size: 35px;
  }

  .fontlarge {
    font: 100 70px/0.8 'Cookie', Helvetica, sans-serif;      
    margin: 30px;
  }

  .fontless {
    font-size: 16px;
  }

  div.centred {    
    align-content: center;
}

.material-icons.green600 { color: #32CD32; }
.material-icons.red600 { color: #FB0F00; }
.material-icons.md-48 { font-size: 48px; }
.material-icons.md-36 { font-size: 36px; }

.cookiefont {
  font: 100 50px/0.8 'Cookie', Helvetica, sans-serif;  
  color: #303f9f;
}


	