<mat-card>
  <mat-card-title class="comicfont">Multiplication - please a select a level...</mat-card-title>
  <mat-card-content>

    <mat-grid-list cols="10">
      <mat-grid-tile>
        <button mat-fab color="primary" (click)="routeToAddition(0)">warm</button>
      </mat-grid-tile>
      <mat-grid-tile>
        <button mat-fab (click)="routeToAddition(1)">hot</button>
      </mat-grid-tile>
      <mat-grid-tile>
        <button mat-fab color="primary" (click)="routeToAddition(2)">hotter</button>
      </mat-grid-tile>
      <mat-grid-tile>
        <button mat-fab (click)="routeToAddition(3)">hottest</button>
      </mat-grid-tile>
    </mat-grid-list>

  </mat-card-content>

</mat-card>
