@import '~@angular/material/theming';
@include mat-core();
@import '~material-design-icons/iconfont/material-icons.css';

$candy-app-primary: mat-palette($mat-indigo);
$candy-app-accent:  mat-palette($mat-pink, A200, A100, A400);
$candy-app-warn:    mat-palette($mat-red);

$candy-app-theme: mat-light-theme(
    $candy-app-primary, $candy-app-accent, $candy-app-warn);

@include angular-material-theme($candy-app-theme);

.dark-theme {
    $primary-dark: mat-palette($mat-pink, 700);
    $accent-dark: mat-palette($mat-green);
    $warn-dark: mat-palette($mat-red);

    $theme-dark: mat-dark-theme($primary-dark, $accent-dark, $warn-dark);

    @include angular-material-theme($theme-dark);
}

body {
    margin: 0;
}

.fontlarge {
    font: 100 40px/0.8 'Comic Sans MS', Helvetica, sans-serif;      
    margin: 30px;
 }

 .fontless {
    font-size: 16px;
 }

 div.centred {    
    align-content: center;
 }

.material-icons.green600 { color: #32CD32; }
.material-icons.red600 { color: #FB0F00; }
.material-icons.md-48 { font-size: 48px; }
.material-icons.md-36 { font-size: 36px; }

.comicfont {
  font-family: 'Comic Sans MS', Helvetica, sans-serif;   
  color: primary;   
}

.example-form {
    min-width: 85px;
    max-width: 85px;
    width: 80%;
  }
  
  .example-full-width {
    width: 100%;
    font-size: 30px;
  }

  .input-group-lg {
    width: 100%;    
    font: 100 46px/0.8 'Comic Sans MS', Helvetica, sans-serif;       
    padding:6px;    
    border: 5px solid #ffeb3b;
    outline: none;
  }

  .example-width {
    width: 80%;
    font-size: 35px;
  }

.input-box {
  width: 145px;
}

.left {
  float:left;
  width:75%;
  margin:0px auto;
  padding:0px;
}

.right {
  float:right;
  width:25%;
  margin:0px auto;
  padding:0px;
}