<mat-card >
  
    <mat-card-title class="comicfont">Number bonds to 10</mat-card-title>
    <mat-card-subtitle>...enter the missing number</mat-card-subtitle>        
        

  <mat-card-content>

    <mat-grid-list cols="5" >
      <mat-grid-tile>
        <div class="fontlarge">
          <span>{{generatedNumber}} </span>
        </div>
      </mat-grid-tile>

      <mat-grid-tile>
        <div class="fontlarge">
          <span>+</span>
        </div>
      </mat-grid-tile>

      <mat-grid-tile >
        <form class="example-form">          
            <mat-form-field class="example-full-width fontlarge">
            <input #input matInput autofocus type="number" placeholder="?" [(ngModel)]="guess" name="guess" (keyup.enter)="onEnter()"/>                        
          </mat-form-field>          
        </form>

        <div *ngIf="hasBondError" class="fontless"> 
          <mat-error>Try again</mat-error>           
        </div>
        
      </mat-grid-tile>

      <mat-grid-tile>
        <div class="fontlarge">
          <span> =&nbsp;&nbsp;&nbsp;10</span>
        </div>
      </mat-grid-tile>

      <mat-grid-tile>
        <button mat-fab (click)='guessit()'>Go</button>
      </mat-grid-tile>

    </mat-grid-list>

  </mat-card-content>

</mat-card>

<div>&nbsp;</div>

<mat-card>

    <mat-card-content>
        <mat-grid-list cols="1" [rowHeight]="40">
<mat-grid-tile>
        <button mat-raised-button color="primary" (click)='returnToMenu()'>Try another game</button>
      </mat-grid-tile>
      </mat-grid-list>
    </mat-card-content>
  
</mat-card>