.example-form {
    min-width: 110px;
    max-width: 110px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
    font-size: 30px;
  }

  .fontlarge {
    font-size: 35px;
  }

  .fontless {
    font-size: 20px;
  }

  div.centred {    
    align-content: center;
}