<div class="centered">

<h2 mat-dialog-title>Correct</h2>
<mat-dialog-content><img class="dialog-img" src="/assets/images/tick.png"></mat-dialog-content>
<mat-dialog-content><span>&nbsp;</span></mat-dialog-content>
<!--<mat-dialog-actions>-->
  <!--<button mat-button mat-dialog-close>No</button>-->

  <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
  <!--<button mat-button [mat-dialog-close]="true">Yes</button>-->

  <button mat-button color="primary" (click)="closeDialog()">Try again</button>
<!--</mat-dialog-actions>-->

</div>