<mat-toolbar color="primary">

  <button mat-button class="sidenav-toggle">
    <mat-icon>menu</mat-icon>
  </button>

  <span class="titlefont">SPELLZEE  -  Fun with words!</span>

  <span class="example-spacer"></span>

  <button mat-button [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon><span class="titlefont2">Sumzee</span>
  </button>
  <mat-menu #menu="matMenu">    
    <button mat-menu-item (click)="switchToSumzee()">Play Sumzee</button>    
    <button mat-menu-item (click)="toggleTheme.emit()">Toggle theme</button>   
  </mat-menu>

</mat-toolbar>
